body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: goldenrod;
}

.home-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.dropdown-menu {
  display: flex;
  list-style-type: none;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  color: black;
}

.dropdown-menu a:hover {
  color: blue;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;

}

.search-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}




.search-container {
  display: flex;
  align-items: center;
}

input[type="text"],  button {
  height: 30px;
}

.search-btn{
  height: 40px;
}

input[type="text"] {
  width: 200px;
}

button {
  width: 150px;
}
